$font-fam: "Vazirmatn";
//Colors
$first-color: #181818;
$sec-color: #262626;
$light-color: #f1f1f1;
$third-color: #ecc600;

//Default Sizing
$border-raduce: 0.625rem;

//Text Size
$subject-txt: 1.5625rem;
$subject-txt-w: bold;
$nav-txt: 1.375rem;
$product-txt: 1.5625rem;

//Box Shadow
$box-shadow1: 0px 5px 8px 0px rgba(22, 22, 22, 0.26);
