$font-fam: "Vazir";
//Colors
$first-color: #181818;
$sec-color: #262626;
$light-color: #f1f1f1;
$third-color: #ecc600;

//Default Sizing
$border-raduce: 0.625rem;

//Text Size
$subject-txt: 1.5rem;
$subject-txt-w: 900;
$nav-txt: 1.1rem;
$product-txt: 1.5625rem;

//Box Shadow
$box-shadow1: 0px 5px 8px 0px rgba(22, 22, 22, 0.26);

//
$hover-scale: 0.97;
$click-scale: 0.94;
