@import "Variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 120ms ease-in-out;
  list-style: none;
  font-family: $font-fam;
}
p {
  margin-bottom: 0 !important;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  background-color: $first-color;
}
.z-header-box {
  margin-top: 1.25rem;
  background-color: $sec-color;
  box-shadow: $box-shadow1;
  border-radius: $border-raduce;
  padding: 0.6rem 0;
}
.z-title {
  font-size: $subject-txt;
  font-weight: $subject-txt-w;
  color: $third-color;
  margin: 0 1.56rem;
}
.z-nav-links {
  gap: 3.12rem;
  margin-bottom: 0;
  color: $light-color;
  font-size: $nav-txt;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav ul li a:hover {
  color: $third-color;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: $third-color;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
.z-user-box {
  background-color: $first-color;
  border-radius: $border-raduce;
  box-shadow: $box-shadow1;
  margin: 0 1.56rem;
  .z-user-icon {
    color: $third-color;
    font-size: 1.25rem;
    padding: 1.06rem;
  }
  &:hover {
    scale: $hover-scale;
  }
  &:active {
    scale: $click-scale;
  }
}
h3 {
  display: flex;
  justify-content: center;
  color: $light-color;
  font-size: $subject-txt;
}
.myCard {
  background-color: $sec-color;
  border-radius: $border-raduce;
  box-shadow: $box-shadow1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  padding: 1.6rem 1.9rem;
  .imgBox {
    img {
      width: 12rem;
      height: 12rem;
      border-radius: $border-raduce;
    }
    border-radius: $border-raduce;
  }
  .productName {
    color: $light-color;
    font-size: $product-txt;
  }
  .productCost {
    color: $light-color;
    font-size: $nav-txt;
  }
  button {
    font-size: $nav-txt;
    color: $first-color;
    background-color: $third-color;
    border-radius: $border-raduce;
    padding: 0.3rem 3rem;
    border: none;
    box-shadow: $box-shadow1;
    &:hover {
      scale: $hover-scale;
    }
    &:active {
      scale: $click-scale;
    }
  }
}
