@import "./Variables";
.sliderConteiner {
  border-radius: $border-raduce !important;
  .sliderBox {
    height: 28rem;
    margin-top: 3rem;
  }
}
.cardsContainer {
  margin-top: 3rem;

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
  }
}
.sortContainer {
  margin-top: 3rem;
  .sortCardContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sortCard {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 17rem;
      padding: 1.5rem 0;
      border-radius: $border-raduce;
      background-color: $sec-color;
      &:hover {
        scale: $hover-scale;
      }
      &:active {
        scale: $click-scale;
      }
      i {
        background-color: $first-color;
        padding: 1.4rem;
        font-size: 1.6rem;
        color: $third-color;
        border-radius: $border-raduce;
        box-shadow: $box-shadow1;
      }
      p {
        color: $light-color;
        font-size: $product-txt;
      }
    }
  }
}
.virtin {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    border-radius: $border-raduce !important;
    img {
      border-radius: $border-raduce !important;
      width: 36.6rem;
      height: 20rem;
    }
    background-color: $sec-color;
  }
}
.newsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  margin-top: 3rem;
  background-color: $sec-color;
  border-radius: $border-raduce;
  box-shadow: $box-shadow1;
  h5 {
    color: $light-color;
    font-size: $subject-txt-w;
    margin-bottom: 0;
  }
  div {
    input {
      background-color: $light-color;
      border-radius: $border-raduce;
      border: none;
      padding: 0.75rem;
      width: 20rem;
      &:focus {
        outline: none;
        box-shadow: 0px 0px 5px 1px $third-color;
      }
      &::placeholder {
        direction: rtl;
        color: $sec-color;
      }
    }
    button {
      background-color: $third-color;
      border-radius: $border-raduce;
      color: $first-color;
      border: none;
      padding: 0.75rem 1.5rem;
    }
  }
}
